body, html {
  height: 100%; }

header {
  display: none; }

.main {
  height: 100%;
  width: 100%;
  overflow: hidden; }

input, button, textarea {
  display: block; }

.main-accueil {
  height: 100%;
  width: 100%; }

.accueil-menu {
  float: left;
  height: 100%;
  width: 5%;
  background-color: #bafff3;
  z-index: 2; }

.accueil {
  position: relative;
  height: 300%;
  width: 95%;
  margin-left: 5%;
  transform: translateY(0);
  top: 0;
  transition: top 0.7s ease; }
  .accueil .sect-title {
    text-align: center;
    border-bottom: 1px solid grey; }
  .accueil form {
    clear: both;
    text-align: center;
    padding-top: 1em; }
    .accueil form h3 {
      margin: 0 0 0.5em 0.2em; }
    .accueil form button {
      float: right;
      padding: 0.5em;
      background-color: #bafff3;
      border: none;
      transition: background-color 0.5s ease; }
    .accueil form button:hover {
      background-color: #54ffe1;
      cursor: pointer; }
    .accueil form textarea {
      width: 100%;
      border: none;
      resize: none;
      background-color: #edfffc;
      border: 1px solid #008770;
      box-sizing: border-box; }
    .accueil form input[type="text"] {
      margin: 0 auto;
      background-color: #edfffc;
      border: 1px solid #008770; }
    .accueil form img {
      display: block;
      width: 100%; }
    .accueil form .croppie-container img {
      width: auto; }

.intro {
  position: relative;
  height: 33.33333%;
  overflow-y: scroll; }
  .intro > .intro-col-wrapper {
    display: flex;
    justify-content: center; }

.articles {
  position: relative;
  height: 33.33333%;
  overflow-y: scroll; }
  .articles > .articles-col-wrapper {
    display: flex;
    justify-content: space-around; }
    .articles > .articles-col-wrapper > .accueil-add-btn {
      position: fixed;
      left: 0;
      text-decoration: none;
      background-color: #bafff3;
      font-size: 2em;
      padding: 0 0.2em; }

.update-col {
  width: 20%; }

.max-char-nb-title, .max-char-nb-txt {
  font-size: 0.7em;
  margin-bottom: 1em;
  color: black;
  transition: color 0.2s ease; }

.widgets {
  position: relative;
  height: 33.33333%;
  overflow-y: scroll; }

.show-1 {
  top: 0 !important; }

.show-2 {
  top: -100% !important; }

.show-3 {
  top: -200% !important; }
