.menu {
  word-wrap: normal !important; }
  .menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 3.92689em;
    background-color: white; }
  .menu li {
    display: inline-block; }
  .menu a {
    display: block;
    position: relative;
    overflow: hidden;
    width: 6.3537em;
    height: 6.3537em;
    margin-right: -4px;
    background-color: #bafff3;
    margin-left: 3.92689em;
    border-radius: 100%;
    box-shadow: inset 0 0 0 0 #00ba9a;
    transition: all 0.5s ease; }
    .menu a p {
      top: -70%;
      position: absolute;
      display: block;
      width: 100%;
      transition: all 0.5s ease;
      color: #008770; }
  .menu a:hover {
    box-shadow: inset 0 3px 5px #00ba9a; }
    .menu a:hover p {
      top: 20%; }
