#admin-activites {
  height: 200%; }
  #admin-activites > .cats {
    position: relative;
    height: 50%;
    overflow-y: scroll; }
  #admin-activites > .activities {
    position: relative;
    height: 50%;
    overflow-y: scroll; }

.cats-act-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5em; }
  .cats-act-list > .cat-act-form {
    width: 300px; }
    .cats-act-list > .cat-act-form > .croppie > img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .cats-act-list > .cat-act-form > .cat-update {
      clear: both; }
      .cats-act-list > .cat-act-form > .cat-update > .cat-act-title {
        margin: 1em 0; }
      .cats-act-list > .cat-act-form > .cat-update > button {
        margin-top: 1em; }

.too-much-cats, .cat-name-exists {
  position: absolute;
  color: #cc0000; }

.act-col-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  transition: opacity 0.5s ease; }
  .act-col-list > .act-col {
    margin-top: 1em;
    width: 300px; }
    .act-col-list > .act-col > .act-date {
      cursor: pointer; }
  .act-col-list > h3.act-col-title {
    position: absolute; }

.sect-title > .cat-choice {
  position: absolute;
  right: 10px;
  padding-top: 10px; }

.sect-title > .cat-choice-new-act {
  position: absolute;
  left: -650px;
  margin-left: 3em;
  padding: 0 !important;
  z-index: 5;
  transition: left 0.5s ease; }
  .sect-title > .cat-choice-new-act > .select-cat-menu-new-act {
    position: relative;
    padding: 9px;
    background-color: white; }
    .sect-title > .cat-choice-new-act > .select-cat-menu-new-act button {
      position: relative;
      top: -9px;
      left: 20px; }
    .sect-title > .cat-choice-new-act > .select-cat-menu-new-act input {
      display: inline; }

.sect-title > .new-cat-name {
  position: absolute;
  padding: 0 !important;
  left: -350px;
  transition: left 0.5s ease-in-out; }
  .sect-title > .new-cat-name > input {
    position: absolute;
    display: block;
    margin-left: 3em !important;
    top: 10px; }
  .sect-title > .new-cat-name > button {
    position: absolute;
    margin-left: 283px; }

.sect-title .valid-btn-top {
  height: 38px !important; }

.slide-right {
  left: 0 !important; }
