.main {
  width: 90%;
  margin: 0 auto; }
  .main img {
    margin-right: 2em;
    border: 1px solid grey; }
  .main .intro {
    float: left;
    margin: 1em 0 20px; }
    .main .intro img {
      float: left; }
  .main .intro-txt {
    padding-top: 3em; }

.ribbon {
  background-color: #00a185;
  clear: both;
  margin-left: -30px;
  margin-right: -30px;
  padding: 1em 0 2em;
  box-shadow: inset 0 0px 20px black; }
  .ribbon * {
    color: #bafff3;
    text-align: center; }
  .ribbon .elus-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .ribbon .elu {
    max-width: 200px;
    padding: 1em 3% 1em 3%; }
    .ribbon .elu img {
      max-width: 200px;
      border: 1px solid black; }
  .ribbon .nom-elu * {
    color: #21ffd8; }

.members {
  padding: 1em 0 2em; }
  .members * {
    text-align: center; }
  .members .member-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .members .member-wrapper .member {
      max-width: 200px;
      padding: 1em 3% 1em 3%; }
      .members .member-wrapper .member img {
        max-width: 200px; }
  .members h1 {
    text-align: center; }

@media all and (max-width: 1000px) {
  .ribbon .elus-wrapper {
    flex-wrap: wrap; } }

@media all and (max-width: 700px) {
  .main .intro img {
    display: block;
    float: none;
    margin: 0 auto; }
  .main .intro .intro-txt {
    text-align: center;
    padding-top: 1em; } }
