.main-content {
  width: 85%;
  max-width: 70.45623em;
  margin: 0 auto; }
  .main-content img {
    border: 1px solid grey; }
  .main-content h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.5rem; }
  .main-content p {
    font-size: 1.2rem;
    margin-top: -0.7rem;
    line-height: 1.5rem; }
  .main-content .hero {
    margin: 2rem 0; }
    .main-content .hero > img {
      min-width: 20%;
      float: left;
      margin: 0.5rem 2rem 0.7rem 0; }
  .main-content .columns {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.8rem; }
    .main-content .columns .main-column {
      min-width: 0;
      width: 30%; }
      .main-content .columns .main-column > img {
        width: 100%; }
      .main-content .columns .main-column h2 {
        padding-top: 1rem; }

@media all and (max-width: 800px) {
  .main-content {
    width: 95%; }
    .main-content .columns {
      -ms-flex-direction: column;
      flex-direction: column; }
      .main-content .columns .main-column {
        width: 100%;
        margin-bottom: 2rem; }
        .main-content .columns .main-column > img {
          display: block;
          min-width: 40%;
          max-width: 100%; } }

@media all and (max-width: 550px) {
  .main-content {
    width: 95%; }
    .main-content .hero > img {
      float: none;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem; } }
