label {
  cursor: pointer;
  user-select: none; }

.menu ul {
  display: none; }
  .menu ul li {
    margin-left: -4px;
    width: 100%; }

.menu .menu-button {
  position: relative;
  background-color: #bafff3;
  min-height: 3em; }
  .menu .menu-button .threelines-button {
    content: "";
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1em;
    height: 0.200em;
    border-top: 0.600em double #000;
    border-bottom: 0.200em solid #000; }
