.menu label {
  display: none; }

.menu ul {
  list-style: none;
  background-color: #bafff3;
  text-align: center;
  padding: 0;
  margin: 0; }

.menu li {
  display: inline-block;
  line-height: 3.92689em;
  width: 10%;
  min-width: 140px;
  margin-right: -4px; }
  .menu li a {
    text-decoration: none;
    color: #008770;
    display: block;
    text-shadow: 0 1px 1px #54ffe1;
    transition: all 0.4s ease-in-out; }
  .menu li a:hover {
    background-color: #00edc4; }
  .menu li a:active, .menu li a:visited, .menu li a:focus {
    border: none; }
  .menu li a:active p {
    color: white;
    transform: translateY(2px); }

.menu p {
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1); }

@media all and (max-width: 860px) {
  label {
    cursor: pointer;
    user-select: none; }
  .menu ul {
    display: none; }
    .menu ul li {
      margin-left: -4px;
      width: 100%; }
  .menu .menu-button {
    position: relative;
    background-color: #bafff3;
    min-height: 3em; }
    .menu .menu-button .threelines-button {
      content: "";
      position: absolute;
      top: 1em;
      right: 1em;
      width: 1em;
      height: 0.200em;
      border-top: 0.600em double #000;
      border-bottom: 0.200em solid #000; }
  .carousel {
    display: none !important; } }
