.menu label {
  display: none; }

.menu ul {
  list-style: none;
  background-color: #bafff3;
  text-align: center;
  padding: 0;
  margin: 0; }

.menu li {
  display: inline-block;
  line-height: 3.92689em;
  width: 10%;
  min-width: 140px;
  margin-right: -4px; }

.menu a {
  text-decoration: none;
  color: #008770;
  display: block;
  text-shadow: 0 1px 1px #54ffe1;
  transition: all 0.4s ease-in-out; }

.menu p {
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1); }

.menu a:hover {
  background-color: #00edc4; }

.menu a:active, .menu a:visited, .menu a:focus {
  border: none; }

.menu a:active p {
  color: white;
  transform: translateY(2px); }
