@charset "UTF-8";
* {
  font-family: 'Titillium Web', sans-serif;
  color: #545454;
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

/* fix du problème de check box avec android */
body {
  -webkit-animation: bugfix infinite 1s; }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }
  to {
    padding: 0; } }

/* fix du problème de check box avec android */
.header-wrapper {
  z-index: 1;
  position: relative;
  height: 6.3537em;
  background-color: #fff;
  padding-right: 2em;
  padding-left: 2em; }
  .header-wrapper .header-text {
    float: left;
    line-height: 6.3537em;
    display: none; }
  .header-wrapper .logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.menu p {
  font-family: 'Open Sans', sans-serif; }

.light-text {
  font-weight: normal; }

.mini-footer {
  background-color: #006e5a; }
  .mini-footer ul {
    margin-left: 1rem; }
    .mini-footer ul li:first-child {
      list-style-type: none; }
    .mini-footer ul li {
      color: #f1f1f1;
      list-style-type: square;
      margin-right: 1.5rem;
      float: left; }
  .mini-footer .mini-foot-r {
    color: #f1f1f1;
    text-align: right;
    margin-right: 1rem; }
