@import "_settings";
$nb-sect-v: 1;

#admin-actus {
	height: 100% * $nb-sect-v;
	overflow-y : scroll;
}

.actu-update {
	width: 90%;
	margin: 0 auto;

	opacity: 1;
	transition: opacity 0.5s ease;
	form {
		> .img-upload {
			width: 30%;
			margin: 0 auto;

			> .croppie {
				img {
					width: 100%;
				}
			}
		}
	}
}

.txt-upload {

	> input[name="checkbox-une"] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	> .checkbox-une-label {
		display: block;
		
		margin: 0 auto;
	}

	> .checkbox-une-label::before {
		display: block;
		position: relative;
		margin: 0 auto;

		content: "";

		height: 20px;
		width: 50px;
		
		top: 20px;
		left: -90px;

		cursor: pointer;

		border-radius: 20px;

		background-color: darken(red, 10);
		transition: background-color 0.2s ease;
	}

	> .checkbox-une-label::after {
		display: block;
		position: relative;
		margin: 0 auto;

		content: "";

		height: 18px;
		width: 18px;

		top: -19px;
		left: -105px;

		cursor: pointer;

		border-radius: 20px;
		background-color: white;

		transition: left 0.2s ease;
	}

	> input[name="checkbox-une"]:checked ~ .checkbox-une-label::before {
		background-color: darken($light-green, 20);
	}

	> input[name="checkbox-une"]:checked ~ .checkbox-une-label::after {
		left: -75px;
	}


}

.select-menu {
	float: right;
	border: none;
	background-color: $light-green;
}



@for $i from 0 to $nb-sect-v {
  .show-v-#{$i + 1} {
    top: $i * -100% !important;
  }
}