@import "bourbon/bourbon";
@import "_settings";

h1, h2, h3 {
  color: $dark-green;
}

.light-text {
  @extend h1, h2, h3;
}

.page-wrap {

  > .page-header {
    text-align: center;
  }
}

.entire-body {
  margin-bottom: 5em;
}

.checkbox-menu {
  width: 30%;
  margin: 0 auto;

  > form {
    width: 100%;
    > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around;

      > li {
        text-align: center;

         .doc-type {
          user-select:none;
          visibility: hidden;
          display: block;
          position: absolute;
          top: -9999px;
          left: -9999px;
          margin: 0 auto;

        }

        > label {
          content: "fezfez";
          display: list-item;
          width: 50px;
          height: 30px;
          background-color: $dark-green;
          border-radius: 30px;
          user-select:none;
          transition: background-color 0.5s ease;
        }

        > label::before {
          content: "";
          display: block;
          position: relative;
          width: 26px;
          height: 26px;
          background-color: white;
          border-radius: 26px;
          top: 2px;
          left: 2px;
          transform: translateX(0);
          transition:  transform 0.5s ease;
        }

        > input:checked ~ label::before {
          transform: translateX(20px);
        }

        > input:checked ~ label {
          background-color: $medium-green;
        }
      }
    }
  }
}

.docs-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2em;

  > .doc {
    width: 47%;
    margin: 2em 0;

    > .file-icon {
      width: 100px;
      float: left;
      margin: 0 2em;

    }

    > .download-icon {
      width: 35px;
      float: right;
      margin-right: 1em;
      border: 1px solid grey;
      cursor: pointer;
    }
  }
}
