@import "bourbon/bourbon";
@import "_settings";

h1, h2, h3 {
  color: $dark-green;
}

.light-text {
  @extend h1, h2, h3;
}

.page-wrap {

  > .page-header {
    text-align: center;
  }
}

.radio-btn-menu {
  width: 30%;
  margin: 0 auto;

  > form {
    //width: 100%;
    > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around;

      > li {

        > input {
          visibility: hidden;
          display: block;
          margin: 0 auto;
        }

        > label {
          //content: "";
          display: block;
          width: 50px;
          height: 30px;
          background-color: $dark-green;
          border-radius: 30px;
        }

        > label::before {
          content: "";
          display: block;
          position: relative;
          width: 26px;
          height: 26px;
          background-color: white;
          border-radius: 26px;
          top: 2px;
          left: 2px;
          transition: left 0.2s ease;
        }

        input:checked ~ label::before {
          left: 22px;
        }

        input:checked ~ label {
          background-color: $medium-green;
        }
      }
    }
  }
}
