@import "bourbon/bourbon";
@import "neat/neat";
@import "_settings";

@media screen and (max-width: $min-media-resolution) {
  nav[role="custom-dropdown"] {
    ul {
      display: none;
      height: 100%;
    }

    label {
      position: relative;
      display: block;
      width: 100%;
    }

    label:after {
      position: absolute;
      content: "\2261";
    }

    input:checked ~ #header-menu ul {
      display: block;

      > li {
        width: 100%;

        > a {
          display: block;
          height: 2em;
          padding-left: 1em;
          background-color: $light-blue;
        }
      }
    }
  }
}
